@use 'variables';

@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/firacode.ttf');
}

@font-face {
  font-family: 'PublicSans';
  src: url('/fonts/publicsans.ttf');
}

@font-face {
  font-family: 'PublicSansItalic';
  src: url('/fonts/publicsansitalic.ttf');
}


html, body {
  font-family: variables.$font-body;
  font-size: 20px;
  line-height: 1.66;
  background: variables.$background-color-dark;
  color: variables.$text-color-dark;

  @media (prefers-color-scheme: light) {
    background: variables.$background-color-light;
    color: variables.$text-color-light;
  }

  &.force-light-mode {
    background: variables.$background-color-light !important;
    color: variables.$text-color-light !important;
  }
  &.force-dark-mode {
    background: variables.$background-color-dark !important;
    color: variables.$text-color-dark !important;
  }
}

main {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem 4rem;
}

h1, h2, h3, h4, h5 {
  font-family: variables.$font-headlines;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 0.5rem;
}

h1 {
  font-size: 3.75rem;
  margin: 1.5rem 0;
}

h2 {
  font-size: 1.875rem;
}

p {
  margin: 0 0 3rem;
}

ol, ul {
  margin-bottom: 3rem;

  li > ol, li > ul {
    margin-bottom: 1rem;
  }
}